.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 15px;
  text-align: center;
}

img {
  max-height: 300px;
  object-fit: contain;
  margin: 5px;
}
